<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content>
    <p class="preserve-whitespace">{{data.blurb}}</p>

    <mat-stepper [orientation]="data.singleColumn ? 'vertical' : 'horizontal'">
        <mat-step *ngFor="let image of data.images" [completed]="false">
            <ng-template matStepLabel>{{ image.title }}</ng-template>
            <p>{{image.caption}}</p>
            <div class="img-holder"><img src="{{root}}{{image.path}}"/></div>
        </mat-step>
    </mat-stepper>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button
        mat-flat-button
        (click)="previous()"
        [disabled]="!hasNext()"
        align="left">
        Previous
    </button>
    <button
        mat-flat-button
        mat-dialog-close
        color="accent">
        Close
    </button>
    <button
        mat-flat-button
        (click)="next()"
        [disabled]="!hasPrevious()"
        align="right">
        Next
    </button>
</mat-dialog-actions>