<div [class]="['app-container', 'mat-elevation-z8', singleColumn ? 'single-column' : 'multiple-column']">
    <mat-carousel>
        <mat-carousel-slide>
            Test
        </mat-carousel-slide>
        <mat-carousel-slide>
            Test2
        </mat-carousel-slide>
    </mat-carousel>

    <!-- <mat-card *ngFor="let each of data">
        <mat-card-header>
            <mat-card-title>{{each.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="preserve-whitespace">{{each.desc}}</div>
        </mat-card-content>
    </mat-card> -->

    <!-- <div *ngFor="let each of data">
        <h3>{{ each.title }}</h3>
        <p>{{ each.desc }}</p>
        <div *ngFor="let img of each.images">
            <h5>{{ img.caption }}</h5>
            <img src="{{root}}{{img.path}}" />
        </div>
    </div> -->
</div>
