<div [class]="['app-container', 'mat-elevation-z8', singleColumn ? 'single-column' : 'multiple-column']">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Senior Software Developer
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p>... with a primary focus in C# dotnet core, and a secondary focus in Python (Django, Flask, etc). </p>
            <p>Able to perform full-stack development, along with deployments, with a preference for back-end roles.</p>
            <p>An avid local musician, with a large interest in integrated circuitry (including writing custom CPU architectures, compilers, and assembly code) as a hobby.</p>
        </mat-card-content>
    </mat-card>
</div>