.app-section {
    padding: 1em 0;
    width: 100%;
    height: 50em;

    // TODO: Put this nugget of knowledge somewhere else
    // No longer doing min-height to keep all sections the same size, but keeping this comment for future reference
    // min-height: 50em;
    // // Long story short, children with percentage height values don't get the calculated height of parent, they instead have 'auto' applied.
    // // To force the children to update properly this hack is available.
    // // info: https://stackoverflow.com/a/21836870/568530
    // height: 1px;
}

.app-footer {
    height: 20em;
}

.fill-red {
    background-color: red;
    width: 100%;
    height: 100%;
}
.fill-green {
    background-color: green;
    width: 100%;
    height: 100%;
}
.fill-blue {
    background-color: blue;
    width: 100%;
    height: 100%;
}