.app-container {
    height: 50em;
}

.table-container {
    height: 37em;
    overflow-y: scroll;
}

.table-filter {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.12);
    height: 4em;
    padding: 0 4em;
}
.table-filter .mat-mdc-form-field {
    width: 100%;
}

.table-footer {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.12);
    height: 8em;
}

.table-footer-text {
    padding: 1em;
}

table {
    width: 100%;
}

.td-icon {
    line-height: 3em;
    height: 3em;
}
.td-icon mat-icon {
    padding-top: 1em;
    line-height: 3em;
    height: 3em;
}

div.text-spinner {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
    .mat-mdc-progress-bar {
    }
    span {
        display: block;
        position: relative;
        left: -19px;
        color: black;
    }
}